<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Competitors</title>
</head>
<body>

<table class="display table table-bordered" style="width:800px">
  <thead class="text-center">
  <tr>
    <th class="text-center">List of competitors</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="competitor : ${competitors}">
    <td class="text-center"th:text= "${competitor}"></td>
    <td></td>
  </tr>
  </tbody>

</table>
</body>
</html>
